# vsc
__pycache__
__pycache__/playwright_registration.cpython-312.pyc

# python
.venv
__pycache__

# allure
allure-results
allure-report

# testing
*.html
*.json
videos
tracing

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json

.DS_Store