# vsc
__pycache__
__pycache__/playwright_registration.cpython-312.pyc

# python
.venv
__pycache__

# allure
allure-results
allure-report

# testing artifacts
*.html
*.json
videos
tracing

.gitignore
requirements.txt