<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        .h2-text {
            color: red;
        }   
    </style>
</head>
<body>
    <h1 class="h2-text">This is H1</h1>
    <h2>This is H2</h2>
    <h6>This is H6</h6>
    <p>Playwright provides a Pytest plugin to write <span>end-to-end tests</span>. To get started with it, refer to the getting started guide.</p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img src="https://playwright.dev/python/img/logos/Browsers.png" alt="Обозреватели" width="400" height="100">

    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ol>

    <form action="/action">
        <input type="text" value="12345" placeholder="Text">
        <input required type="password" value="12345" placeholder="Password">
        <input required type="email" value="12345" placeholder="Email">
        <textarea name="Sometext" placeholder="Txt"></textarea>
        <input disabled type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>

    <table>
        <thead>
            <tr>
                <td>item1</td>
                <td>item2</td>
                <td>item3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>row1</td>
                <td>row2</td>
                <td>row3</td>
            <tr>
                <td>item1</td>
                <td>item2</td>
                <td>item3</td>
            </tr>
        </tbody>
    </table>

</body>
</html>